@model BudgetExpenditure.Models.BudgetExpenditureViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<table class="table">
    @*<tr>
        @foreach (string col in cNames.Split(",".ToCharArray()))
        {
            <th>
                col
            </th>
        }
    </tr>

    @foreach (var item in Model.mytable)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            </tr>
    }*@
    </table>
